:root {
    background-color: #212b31;
}

body {
    /* outline: 1px solid red; */
    display: flex;
    flex-direction: column;
}

#library-head {
    align-self: center;
    color: white;
    font-family: "Playfair Display", serif;
    font-style: italic;
}

#library {
    /* outline: 1px solid blue;  */
    padding: 5px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-width: 40%;
    max-width: 50%;
    align-self: center;
    align-items: center;
}


#book {
    /* outline: 0.5px solid lightgray; */
    box-shadow: black 0px 1px 10px;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: #013351;
    position: relative;
    transition: all 0.50s ease;
}

#book:hover {
    scale: 1.05;
    box-shadow: white 0px 1px 10px;
}

.book-details {
    color: white;
    font-family: "Playfair Display", serif;
}

.book-title {
    /* text-decoration: underline; */
    align-self: center;
}


.buttons {
    border: none;
    background-color: rgb(130, 130, 236);
    font-weight: bold;
    color: white;
    border-radius: 7px;
    transition: all 0.25s ease;
    padding: 10px;
}

.remove-button {
    width: fit-content;
    scale: 0.75;
    transition: all 0.25s ease-in;
    position: absolute;
    top: 0;
    left: 0;
}

.remove-button:hover {
    opacity: 85%;
    scale: 0.95;
}


#new-book-btn {
    position: fixed;
    bottom: 0;
    margin-bottom: 10px;
    height: 50px;
}

.buttons:hover {
    opacity: 75%;
    text-decoration: underline;
}

#form-fields {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 50px;
}